<div class="center">
    <h1 style="margin-top: 30px;">Thank you for shopping with us!</h1><br>
        <h3 style="margin-top: 40px;">Your order has been placed.</h3><br>
    <div class="hola"><h3>The order will be next to your doorstep within 7 days from {{s}} </h3></div>
    <button type="button"  class="btn  btn-lg" style="margin-right: 5px;background-color: grey"(click)="dash()">Dashboard</button>
    <button type="button" class="btn  btn-lg" style="margin-left: 5px; background-color: grey;" (click)="shop()">Shop more</button>
</div>

