<!--VIDEO-->
<div class="banner">
    <div style="width:100%;height:0px;position:absolute;padding-bottom:44.688%;"><iframe
            src="https://streamable.com/e/v7jsau?autoplay=1" frameborder="0" width="100%" height="100%" allowfullscreen
            allow="autoplay"
            style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hideen;"></iframe>
    </div>
    <div class="overlay"></div>
<div class="banner-innner">
    <div class="container-fluid">
        <div class="row align-items-end">

            <div class="col">
                <div class="banner-left " style="font-family: 'Londrina Outline', cursive;;">
                    <h1> Welcome to Fragrance World! </h1>
                    <p>You can find a wide variety of products both International and Indian. </p>
                    <a href="#">Enjoy</a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!--CAROUSEL-->
<!-- Carousel wrapper -->

<div style="padding-left: 70px;"><p style="font-family: 'Roboto', sans-serif ;font-weight: bolder;font-size: 30PX; text-align: center;">FEATURED PRODUCTS</p></div>
<div class="container-fluid">
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="margin: 70px 50px 80px 50px;">

    <!-- Indicators/dots -->
    <div class="carousel-indicators" style="margin: 40px 50px 0px 50px; ">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>


   <!-- The slideshow/carousel -->
<div class="carousel-inner ">
    <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/1961792/pexels-photo-1961792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Los Angeles" class="d-block w-100">
    </div>
    <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1600680763979-eadfcbdb6a69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
            alt="Chicago" class="d-block w-100">
    </div>
    <div class="carousel-item">
        <img src="https://ap.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton--1901_LVMagazine_Meteore_Fragrance_Launch_DI3.jpg?wid=2048"
            alt="New York" class="d-block w-100">
    </div>
</div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev"  type="button" data-bs-target="#demo" data-bs-slide="prev"
        style="margin-left: 350px; ">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next"
        style="margin-right: 350px;">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>
</div>

<div style="padding-left: 70px;"><p style="font-family: 'Roboto', sans-serif ;font-weight: bolder;font-size: 30PX; text-align: center;">TOP SELLING PRODUCTS</p></div>
<!--GALLERY-->
<div class="container-fluid row align-items-center" style="justify-content: center; margin-top: 50px;">
<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1619994403073-2cec844b8e63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="1">
    </a>
    <div class="desc" id="des">Acqua Di Gio <br> ₹ 5800</div>
</div>
<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1618478441890-8d4e722fe882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="2">
    </a>
    <div class="desc" id="des">Park Avenue Euphoria<br> ₹ 450</div>
</div>

<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1594035910387-fea47794261f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyZnVtZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
            alt="3">
    </a>
    <div class="desc"id="des">Coco Noir Chanel <br> ₹ 750</div>
</div>

<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1561997835-49889d0e0355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="4">
    </a>
    <div class="desc"id="des">Calvin Klein <br> ₹ 2530
    </div>
</div>
<br>
<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1541108564883-bec8126021f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="5">
    </a>
    <div class="desc"id="des"> Gemma Di Paradiso <br> ₹ 6500
        </div>
</div>
<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1624824022425-c40966b056da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="6">
    </a>
    <div class="desc"id="des">Creed X <br> ₹ 26500  </div>
</div>
<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1608528577891-eb055944f2e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="7">
    </a>
    <div class="desc"id="des">Red Diamond <br> ₹ 500 </div>
</div>
<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1620057170571-9868685e431a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTZ8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="8">
    </a>
    <div class="desc"id="des">Evidence <br> ₹ 2000</div>
</div>
</div>
