<div class="container-fluid" style="text-align: center;">
    <div class="row" style="margin-left: 200px;">

        <div class="column">
            <img src="https://www.freeiconspng.com/thumbs/add-icon-png/add-icon--line-iconset--iconsmind-29.png" alt="" height="200px">
            <p>Add Products </p>
            <button class="button button--nanuk button--border-thin button--round-s" (click)="add()">
                <span>A</span><span>D</span><span>D</span><span>&nbsp;</span><span>P</span><span>R</span><span>O</span><span>D</span><span>U</span><span>C</span><span>T</span><span>S</span>
            </button>


        </div>
        <div class="column">
            <img src="https://img.icons8.com/ios/344/update-left-rotation.png" alt="" height="200px">
            <p>Update Product</p>
            <div>
                <button class="button button--nanuk button--border-thin button--round-s" (click)="update()">
                    <span>U</span><span>P</span><span>D</span><span>A</span><span>T</span><span>E</span><span>&nbsp;</span><span>P</span><span>R</span><span>O</span><span>D</span><span>U</span><span>C</span><span>T</span>
                </button>
            </div>
        </div>

        <div class="column">
            <img src="https://www.freeiconspng.com/thumbs/add-icon-png/add-icon--line-iconset--iconsmind-29.png" alt="" height="200px">
            <p>Add Coupons</p>
            <button class="button button--nanuk button--border-thin button--round-s" (click)="addCoupon()">
                <span>A</span><span>D</span><span>D</span><span>&nbsp;</span><span>C</span><span>O</span><span>U</span><span>P</span><span>O</span><span>N</span><span>S</span>
            </button>

        </div>
        <div class="column">
            <img src="https://cdn-icons-png.flaticon.com/512/3126/3126552.png" alt="" height="200px">
            <p>See all Coupons </p>
            <button class="button button--nanuk button--border-thin button--round-s" (click)="listCoupon()">
                <span>L</span><span>I</span><span>S</span><span>T</span><span>&nbsp;</span><span>C</span><span>O</span><span>U</span><span>P</span><span>O</span><span>N</span><span>S</span>
            </button>
        </div>

    </div>
</div>
<hr>